:root{
    --synthwave-light: #fe67c8;
    --synthwave-dark: #130912;

    --cyberpunk-light: #f3e600;
    --cyberpunk-dark: #170b0b;

    --death-light: #f53529;
    --death-dark: #100404;

    --matrix-light: #5ca35f;
    --matrix-dark: #09170a;
}